.line-numbers {
  border-right: 1px solid #ccc;
  padding-right: 10px;
  margin-right: 10px;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.line-numbers div {
  margin-bottom: 5px;
}

.line-content {
  white-space: pre;
}

.code-line {
  display: flex;
  
}

.line-number {
  width: 30px;
  text-align: right;
}


.keyword {
  color: #b48ead;
  /* Couleur des mots-clés */
}

.comment {
  color: #6a9955;
  /* Couleur des commentaires */
}

/* Styles pour les chaînes de caractères */
.string {
  color: #4ec9b0;
  /* Couleur des chaînes de caractères */
}

/* Styles pour les crochets */
.bracket {
  color: #61afef;
  /* Couleur des crochets */
}

/* Styles pour les clés */
.key {
  color: #e06c75;
  /* Couleur des clés */
}